#chat-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    z-index: 9999;
    font-family: sans-serif;
  }

  #chat-container h2 {
    background-color: #4cafaf;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
  }

  #message-container {
    padding: 15px;
    height: 280px;
    overflow-y: scroll;
  }

  .bubble {
    background-color: #dfe6e9;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    margin: 10px;
    padding: 10px 15px;
    position: relative;
    max-width: 70%;
  }

  .bubble:before {
    border-top: 10px solid #dfe6e9;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: -10px;
    width: 0;
  }

  .bubble:after {
    border-top: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    position: absolute;
    top: -8px;
    width: 0;
  }

  .bubble.right:before {
    border-top-color: #ffffff;
    right: -9px;
  }

  .bubble.right:after {
    border-top-color: #dfe6e9;
    right: -8px;
  }

  #message-input {
    width: 75%;
    padding: 8px;
    border: 2px solid #bdc3c7;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #555555;
  }

  #message-input:focus {
    outline: none;
    border-color: #4cafaf;
  }

  #message-form button[type="submit"] {
    background-color: #22bec4;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
  }

  #message-form button[type="submit"]:hover {
    background-color: #19b6bb;
  }

  .text-center {
    text-align: center;
  }